.input_search {
    position:absolute;
    top:28%;
    left:25%;
    min-height: 40px;
    width: 40%;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
     top:28%;
    left:65%;
    position: absolute; 
    background-image:url(../img/search.png);
    background-repeat:no-repeat;
    height:40px;
    width:100px;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
li{
    text-decoration: none;
}
body{
    background-image: url(../img/cesped.jpg);
    
}


.btn_details{
    text-decoration:none; 
    text-align:center; 
    margin: 40px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    border:solid 1px #720017; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#f58a39; 


}
#results_keyword{
    background-color: #fff;
}
btn_details:hover{
    padding: 5px 10px 5px 10px;
    margin: 40px 10px 5px 10px;
    border:solid 1px #140205; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#d67e20; 
    background-image: -moz-linear-gradient(top, #d67e20 0%, #e6ac6e 100%); 
    background-image: -webkit-linear-gradient(top, #d67e20 0%, #e6ac6e 100%); 
    background-image: -o-linear-gradient(top, #d67e20 0%, #e6ac6e 100%); 
    background-image: -ms-linear-gradient(top, #d67e20 0% ,#e6ac6e 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ac6e', endColorstr='#e6ac6e',GradientType=0 ); 
    background-image: linear-gradient(top, #d67e20 0% ,#e6ac6e 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  

}

.wrap{
    margin:0 auto;
    width:1000px;
    font-family: 'Love Ya Like A Sister', cursive;
}
.logo{
    text-align:center;
    margin-top:200px;
}
.logo img{
    width:350px;
}
.logo p{
    color:#272727;
    font-size:40px;
    margin-top:1px;
}	
.logo p span{
    color:lightgreen;
}	
.sub a{
    color:#fff;
    background:#272727;
    text-decoration:none;
    padding:10px 20px;
    font-size:13px;
    font-family: arial, serif;
    font-weight:bold;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    -border-radius:.5em;
}	

.sub2 {
    margin-top: 10%;
    color:#fff;
    background:#00AF27;
    text-decoration:none;
    padding:10px 20px;
    font-size:13px;
    font-family: arial, serif;
    font-weight:bold;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    -border-radius:.5em;
}
.sub2:hover {
    color:#fff;
    background:#00AF27;

    text-decoration:none;
    padding:10px 20px;
    font-size:13px;
    font-family: arial, serif;
    font-weight:bold;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    -border-radius:.5em;
}
.btn2{
    position: relative;
    bottom: 0%;
    text-align: right;
    color:#081B42;
}.btn2:hover{
    position: relative;
    bottom: 0%;
    text-align: right;
    color:#00AF27;
}
.thumbnail{padding:9px;color:#333;
   background-color: #efefef;}
.thumbnail>img{
    max-width: 45%;
}



.thumbnail1{
    background-color: #fff;
    max-width: 50%;
      max-height: 50%;
    margin-left: 25%;
        border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1%;
    
}
.sub3{
    background-color: #fff;
    color:#fff;
}
#img_install>img{
    max-width: 40%;
}
 h3,label{
    margin-top: 0px;
    margin-bottom: 0px;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    background-color: #fff;
    margin-right: 40%;
    text-decoration: none;
   }
    /* support: IE7; */
    /* support: IE10, see #8844; */
.polaroids{
  
    max-height: 40px;
        max-width:40px;
}
ul{text-decoration: none;}

h3{
    font-weight: bold;
    color:#081B42;
}
p{
     color:#081B42;
    
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
.input_search {
    position:absolute;
    top:30%;
    left:10%;
    min-height: 50px;
    
    width: 55%;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
     top:30%;
    left:65%;
    position: absolute; 
    background-image:url(../img/search.png);
    background-repeat:no-repeat;
    height:46px;
    width:100px;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}


.thumbnail1{
    background-color: #fff;
    max-width: 90%;
    margin-left: 5%;
        border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1%;
    
}
}