<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">-->
<!--<link rel="stylesheet" type="text/css" href="<?php echo VIEW_PATH_FORM ?>form-elements.css">
<!--Esto se pasa a rutas completas y en las carpetas correspondientes-->
<!--
<link rel="stylesheet" type="text/css" href="<?php echo VIEW_PATH_FORM ?>font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo VIEW_PATH_FORM ?>style.css">  
<script type="text/javascript" src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>contact.js" ></script>    -->

<!--<body>-->

    <!-- Top content -->
    <div class="top-content">


        <div class="container">

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Contacto</h3>
                                <p>Rellena los campos y envianos un mensaje para mejorar tu experiencia:</p>
                                <!--<input ng-model="hipoteca.nif" id="nif" name="nif" required  placeholder="With char letter at the end, please." type="text" class="form-control"   ng-pattern="/(^[X-Z]\d{7}[A-Z]$)|(^\d{8}[A-Z]$)/" value= >
        <span class="text-danger" ng-show="mortgage_form.nif.$error.required && (mortgage_form.nif.$dirty || mortgage_form.nif.$touched)">El camp &eacute;s obligatori</span>
        <span class="text-danger" ng-show="mortgage_form.nif.$error.pattern">NIF not valid</span>-->
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-bottom contact-form">                
                            <form id="form_contact" class="contact-form" name="form_contact_">
                                <div class="form-group">
                                    <label class="sr-only" for="contact-nombre">Nombre</label>
                                    <input type="text" name="inputName_" placeholder="Nombre..." ng-model="contact.name" class="contact-email form-control" id="inputName" required ng-pattern="/^[a-z ,.'-]+$/i">
                                    <!--<p class="error" ng-show="form_contact_.inputName_.$error.required && (form_contact_.inputName_.$dirty || form_contact_.inputName_.$touched)">El campo &eacute;s obligatorio</p>-->
                                    <p class="error" ng-show="form_contact_.inputName_.$dirty && form_contact_.inputName_.$invalid">El campo &eacute;s obligatorio</p>
                                    <p class="error" ng-show="form_contact_.inputName_.$error.pattern">Nombre no valido</p>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="contact-email">Email</label>
                                    <input type="email" name="inputEmail" placeholder="Email..." ng-model="contact.email" class="contact-email form-control" id="inputEmail" required ><!--ng-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"-->
                                    <!--<span class="error" ng-show="form_contact_.inputEmail.$error.required && (form_contact_.inputEmail.$dirty || form_contact_.inputEmail.$touched)">El campo &eacute;s obligatorio</span>-->
                                    <p class="error" ng-show="form_contact_.inputEmail.$dirty && form_contact_.inputEmail.$invalid">El campo &eacute;s obligatorio</p>
                                    <p class="error" ng-show="form_contact_.inputEmail.$error.email">Email no valido</p>
                                </div>
                                
                                <div class="form-group-contact">
                                    <select class="contact-subject form-control" id="inputSubject" name="inputSubject" title="choose_subject" ng-model="contact.mensaje"><!--ng-change="mensaje.singleSelect" ng-model="contact.mensaje.multipleSelect"-->
                                        <option value="partida">Info relativa a tu partida</option>                                    
                                        <option value="programacion">Contacta con nuestro dpto de programacion</option>
                                        <option value="Trabaja">Trabaja con nosotros</option>
                                        <option value="proyectos">Deseas proponernos proyectos</option>
                                        <option value="sugerencias">Haznos sugerencias</option>
                                        <option value="reclamaciones">Atendemos tus reclamaciones</option>
                                        <option value="club">Club nfu</option>
                                        <option value="sociales">Proyectos sociales</option>                                    
                                        <option value="actualizaciones">Te avisamos de nuestras actualizaciones</option>
                                        <option value="diferente">Algo diferente</option>
                                    </select>
                                </div>
                                <br>                        
                                <div class="form-group">
                                    <label class="sr-only" for="contact-message" >Mensaje</label>
                                    <textarea name="inputMessage" placeholder="Mensaje..." class="contact-message form-control" id="inputMessage" ng-model="contact.message" required ng-maxlength="255"></textarea>
                                    <p class="error" ng-show="form_contact_.inputMessage.$error.maxlength">El texto es demasiado largo</p>
                                    <p class="error" ng-show="form_contact_.inputMessage.$dirty && form_contact_.inputMessage.$invalid">El campo &eacute;s obligatorio</p>
                                    <!--<span class="error" ng-show="form_contact_.inputMessage.$error.required && (form_contact_.inputMessage.$dirty || form_contact_.inputMessage.$touched)">El campo &eacute;s obligatorio</span>                                    -->
                                </div>                        
                                <button ng-click="send(contact)" type="button" class="btn" ng-change="contact_error()" name="submit" id="submitbtn" ng-disabled="form_contact_.inputName_.$invalid && form_contact_.inputName_.$error.pattern
                                        || form_contact_.inputEmail.$invalid && form_contact_.inputEmail.$error.email || form_contact_.inputMessage.$error.maxlength && form_contact_.inputMessage.$invalid">Enviar mensaje</button>
                                 <center><img src="./modules/contact/view/img/ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>
                                 </center>
                                <p class="text-danger" ng-model="contact.error_contact">{{contact.error_contact}}</p>
                                <input type="hidden" name="token" ng-value="contact_form"/>
                                <!--<div ng-hide="contact_form" class="ng-hide" ng-model="contact.token"></div>-->
                                <div id="message_alert" style="display: none;"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                      <div class="form-box">
                        <div id="map" data-ng-init="mapcontact()"></div>
  
                
            </div>

        </div>


    </div>
    </div>
    </div>

    <!--<script type="text/javascript" src="./modules/contact/view/js/contact.js" ></script>-->
    <link rel="stylesheet" type="text/css" href="./assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">  
    <script type="text/javascript" src="./modules/contact/view/libs/jquery.validate.min.js"></script>
    