<script type="text/javascript" src="./modules/users/view/js/admin_users.js" ></script>
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./assets/font-awesome/css/font-awesome.min.css"> 
<link rel="stylesheet" type="text/css" href="./modules/users/view/css/styles.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<body>

    <div class="container">
         <div id="results"></div>
         <center>
         <div class="row" id="menu_admin">
      <div class="col-md-4">
     
          <a class="btn btn-info" href="" type="button">Crear Users</a>
  
      </div>
      <div class="col-md-4">
    
        <a class="btn btn-info" type="button">Modificar Users</a>
        
      </div>
         <div class="col-md-4">
            
      <a class="btn btn-info" type="button">Eliminar Users</a>
    
      </div>
    </div>
</center>
                          </div>
    