<script type="text/javascript" src="./modules/users/view/js/users.js" ></script>
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./modules/users/view/css/styles.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<body>
    <div class="container">
<div class="row">
  <div class="col-md-12">
      <h1 id="color_blue">Administración NFU</h1>
    

  </div>
   
</div></br>
</br>
</br>
</br>
</br>
</br>
<center>
         <div class="row" id="menu_admin">
      <div class="col-md-4">
     
          <a class="btn btn-info" href="<?php amigable('?module=users&function=admin_users'); ?>" type="button">Admin Users</a>
  
      </div>
      <div class="col-md-4">
    
        <a class="btn btn-info" type="button">Admin Instalaciones</a>
        
      </div>
         <div class="col-md-4">
            
      <a class="btn btn-info" type="button">Admin Partidas</a>
    
      </div>
    </div>
</center>
    </div>
