h1.color_text_recovery{
    color:grey;
}
#recovery{
    color:grey;
}
label#recovery:hover{
    color:#081B42;
}

.distance_recovery{
    margin-top: 10%;
    margin-bottom: 10%;
}

input#recovery_pass, input#recovery_pass2{
    margin-bottom: 1%;
}
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
  
  #red{
    color:#a94442 !important;
}