<link rel="stylesheet" type="text/css" href="./assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./assets/font-awesome/css/font-awesome.min.css">  
<script type="text/javascript" src="./modules/games/view/js/games.js" ></script>
<link rel="stylesheet" href="./modules/games/view/js/jquery.timepicker.css">
<script type="text/javascript" src="./modules/games/view/js/jquery.timepicker.min.js" ></script>



<div class="form-top">
    
    <div class="form-top-left">
        <h3>Nueva Partida</h3>                        
    </div>
    <div class="form-top-right">
        <i class="fa fa-futbol-o"></i>
    </div>


    <div class="row">
      <!--configuracion 1-->
      <div class="container">     
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 1: Nombre y Deporte</h3>                                                          
            </tr>
          </thead>
          <tbody>
            <!--nombre-->
            <tr>
              <td><h4><label class="games_size" for="contact-email">Asigna un Nombre</label></h4></td>
              <td>
                  <input name="gamename" type="text" id="gamename" class="contact-email form-control" placeholder="Nombre de la patida">
                  <div id="e_gamename" style="color: #ff0000"></div> 
              </td>
            </tr>
            <!--fin nombre-->
            
            <!--deporte-->
            <tr>
                <td><h4><label class="selectpicker games_size" for="deporte">Escoja un deporte</label></h4></td>
              <td>
                <select class="contact-subject form-control size_input_games" name="sport" id="type_sport" readonly>
                    <optgroup label="deporte">
                        <option value="futbol">Futbol</option>
                        <option value="baloncesto">Baloncesto</option>
                        <option value="voleibol">Voleibol</option>
                        <option value="tenis">Tenis</option>
                        <option value="padel">Padel</option>
                    </optgroup>
                </select>
              </td>
            </tr>
            <!--fin de porte-->            
          </tbody>
        </table>
      </div>
    <!--fin configuracion 1-->
    
    <!--configuracion 2-->
    <div class="container">        
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 2: ¿Dónde y Cuándo?</h3>       
            </tr>
          </thead>
          <tbody>
            <!--Provincias-->
            <tr>
              <td><h4><label class="games_size" for="provincia">Seleccione la Provincia de la Instalación</label></h4></td><!--class="selectpicker"-->
              <td><select id="provincia" class="contact-province form-control size_input_games"></select></td>        
            </tr>
            <!--fin Provincias-->

            <!--Poblaciones-->  
            <tr>
              <td><h4><label class="games_size" for="poblacion">Seleccione la Poblacion de la Instalación</label></h4></td><!--class="selectpicker"-->
              <td><select id="poblacion" class="contact-city form-control size_input_games"></select></td>        
            </tr>
            <!--fin Poblaciones-->  

            <!--instalacion-->
            <tr>
                <td>
                    <h4><label class="games_size" for="contact-email">Instalacion</label></h4>
                </td>
                <td>
                    <input name="contact_install" type="text" id="contact_install" class="contact-email form-control" placeholder="Empieza a escribir el nombre de la instalación">            
                    <div id="e_contact_install" style="color: #ff0000"></div>
                    <label for="anadir">No lo encuentras?</label> <button type="button" id="btn_games_form" class="btn">Añadelo!</button><!--class="selectpicker"  class="btn_games_form"-->
                </td>             
            </tr>
            <!--fin instalacion-->
            
            <!--comentarios zona de encuentro-->  
            <tr>
                <td><h4><label class="games_size" for="contact-email">Zona de encuentro</label></h4></td>
                <td><textarea placeholder="Describe la zona de encuentro..." maxlength="255" rows="4" cols="50" class="form-control"></textarea></td>                
            </tr>
            <!--fin comentarios zona de encuentro-->  
            
            <!--dia de la partida-->
            <tr>
                <td><h4><label class="games_size" for="contact-email">Dia de la partida</label></h4></td>
                <td>
                    <input id="day_game" type="text" name="days_game" placeholder="Dia de la partida" readonly class="contact-email form-control size_input_games">
                    <div id="e_day_game" style="color: #ff0000"></div>
                    <div id="result"></div> 
                </td>                
            </tr>
            <!--fin dia de la partida-->
            
            <!--hora-->
            <tr>
                <td><h4><label class="games_size" for="contact-email">Hora</label></h4></td>
                <td>
                    <input name="times_start" type="text" id="time_start" class="contact-email form-control size_input_games" placeholder="Hora de inicio">            
                    <div id="e_time_start" style="color: #ff0000"></div>
                </td>                
            </tr>
            <!--fin hora-->
            
            <!--duracion-->
            <tr>
                <td><h4><label class="games_size" for="contact-email">Duración</label></h4></td>
                <td>
                    <input name="durations" type="text" id="duration" class="contact-email form-control size_input_games" placeholder="Duracion">                       
                    <div id="e_duration" style="color: #ff0000"></div>
                </td>                
            </tr>
            <!--fin duracion-->
            </tbody>
        </table>
    </div>
        <!--fin configuracion 2-->
        
    <!--configuracion 3-->
    <div class="container">                   
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 3: Configuracón</h3>           
            </tr>
          </thead>
          <tbody>
            <!--numero de plazas--> 
            <tr>
                <td><h4><label class="games_size" for="contact-email">Numero de plazas</label></h4></td>
              <td>
                <input name="places_number" type="text" id="places_number" class="contact-email form-control size_input_games" placeholder="Plazas">
                <div id="e_places_number" style="color: #ff0000"></div>   
              </td>              
            </tr>
            <!--fin numero de plazas--> 
            
            <!--tipo de entrada-->
            <tr>
                <td><h4><label class="games_size" for="entrada">Seleccione el tipo de entrada al recinto</label></h4></td>
              <td>
                    <div class="radio">
                        <label><input name="enter" type="radio" value="0" checked>Gratuita</label>
                    </div>
                    <div class="radio">
                        <label><input name="enter" type="radio" value="1">Pago</label>
                    </div>
                    <!--catidad de entrada--> 
                    <input name="price" type="text" id="price_cash" class="contact-email form-control size_input_games" placeholder="Precio">
                    <div id="e_price_cash" style="color: #ff0000"></div>
                    <!--fin catidad de entrada--> 
              </td>             
            </tr>
            <!--fin tipo de entrada-->                        
            
            <!--enviar-->             
            <tr>
              <td></td>
              <td><button type="button" class="btn" name="boton" id="boton">Enviar Partida</button></td>              
            </tr>
            <!--enviar--> 
          </tbody>
        </table>
    </div>
    <!--fin configuracion 3-->

    </div>
</div>