<link href="./modules/installation/view/css/installation.css" rel="stylesheet" />
<link href="./modules/installation/view/css/jquery-ui.css" rel="stylesheet" />
<section >

  
        <div class="thumbnail">

                <!--<i class="fa fa-desktop fa-5x"></i>-->

            <img class="rotarY" height="120" width="120" src="http://51.254.97.198/NFU/app_model/media/{{install.avatar}}" alt="installation">
            <!--  <img src="'<?php //echo $arrData['img']  ?>'" alt="product" height="70" width="70">  -->
            <ul><li class="indent">
                    Nombre de la instalación: <span class="details">{{install.nombre}}</span>
                </li>     

                <li class="indent">Ubicación: <span class="details">{{install.ubicacion}}</span></li> 



                <li class="indent">Descripción: <span class="details">{{install.descripcion}}</span></li>
                <li class="indent">Valoración: <img class="details" height="80" width="80" src="http://51.254.97.198/NFU/app_model/media/{{install.valoracion}}"></img></li>
            </ul>
            <center>
            <p><a href="#/install" class="btn2" id="indent" >Volver</a></p></center>
        </div>
       


</section>