<script type="text/javascript" src="./modules/login/view/js/login.js" ></script>
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./modules/login/view/css/login.css">


<div class="row">
    <form id="form_recoverymail" name="form_contact_">
    <div class="distance_recovery col-md-6 col-md-offset-3">
        <div class="distance_recovery">
            <h1 class="color_text_recovery"><p>Introduzca su e-mail</p></h1>
            <div>
                <input type="email" id="sed_email_recovery" name="recov_email" ng-change="recovery_email_error()" class="form-control" placeholder="Introduzca su E-mail" ng-model="recovery_email.recov_email">                
                <input type="button" class="btn" name="boton" id="boton_recovery" value="Enviar" ng-click="recovery()">      
                <p class="text-danger" ng-model="recovery_email.recov_email_error">{{recovery_email.recov_email_error}}</p>
                <!--<p class="error" ng-show="form_recoverymail.recov_email.$error.email">Email no valido</p>-->
            </div>




        </div>
    </div>
    </form>
</div>
