<!--<script type="text/javascript" src="./modules/login/view/js/recovery_pass.js" ></script>-->
<script type="text/javascript" src="./modules/login/view/js/login.js" ></script>
<!--<link rel="stylesheet" type="text/css" href="<?php echo VIEW_PATH_FORM ?>form-elements.css">-->
<link rel="stylesheet" type="text/css" href="./assets/css_formularios/style.css">
<!--<link rel="stylesheet" type="text/css" href="<?php echo VIEW_PATH_FORM ?>font-awesome/css/font-awesome.min.css">-->
<link rel="stylesheet" type="text/css" href="./modules/login/view/css/login.css">

<div class="row">
    
    <div class="distance_recovery col-md-6 col-md-offset-3">
        <div class="distance_recovery">
            <h1 class="color_text_recovery"><p>Introduzca su nueva contraseña</p></h1>
            <div>                
                <input type="password" id="recovery_pass" name="pass1" class="form-control" ng-change="recovery_pass_error()" placeholder="Nueva contraseña" ng-model="recovery_pass.pass1">                
            </div>
            <div>
                <input type="password" id="recovery_pass2" name="pass2" class="form-control" placeholder="Repita contraseña" ng-model="recovery_pass.pass2">                
            </div>
            <div>
                <input type="button" class="btn" name="boton" id="boton_recovery_pass" value="Enviar" ng-click="recovery_pass()">
                <p class="text-danger" ng-model="recovery_pass.recov_pass_error">{{recovery_pass.recov_pass_error}}</p>
                <p class="text-danger" ng-model="recovery_pass.recov_pass_error1">{{recovery_pass.recov_pass_error1}}</p>
            </div>
        </div>
    </div>
</div>