<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">

                <div class="col-md-4  hidden-sm hidden-xs">  
                    <h2><strong class="titulo">Usar NFU</strong></h2>
                    <ul class="list-unstyled">

                        <li><a href="mailto:nfunosfaltauno@gmail.com">Cómo funciona NFU</a>
                        </li>
                        <li><a href="mailto:nfunosfaltauno@gmail.com">Normas Básicas de uso</a>
                        </li>
                        <li><a href="mailto:nfunosfaltauno@gmail.com">FAQ:preguntas frecuentes</a>
                        </li>
                    </ul></div>



                <div class="col-md-4">



                    <a href="https://www.facebook.com/nosfaltaunoNFU/?ref=hl"  target="_blank"><img  src="./assets/img/LogoNFUBlanco.png" alt="logo" height="100" width="110"></a>
                    <br>
                    <br>
                    <br>

                    <ul class="list-unstyled">

                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:nfunosfaltauno@gmail.com">nfunosfaltauno@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <div class="navcontainer">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/nosfaltaunoNFU/?ref=hl" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/NFaltaUno" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/b/116107317807288609507/116107317807288609507/about?gmbpt=true&pageId=116107317807288609507&hl=es&_ga=1.45350626.7337554.1451404838" target="_blank"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy;NFU 2016</p>
                    </div>
                </div>

                <div class="col-md-4 hidden-sm hidden-xs"> <h2><strong class="titulo">Sobre NFU</strong></h2>
                    <ul class="list-unstyled">

                        <li><a href="mailto:nfunosfaltauno@gmail.com">¿Quiénes somos?</a>
                        </li>
                        <li><a href="mailto:nfunosfaltauno@gmail.com">Términos y condiciones</a>
                        </li>
                        <li><a href="mailto:nfunosfaltauno@gmail.com">Aviso legal</a>
                        </li>
                        <li><a href="mailto:nfunosfaltauno@gmail.com">Política de privacidad</a>
                        </li>
                    </ul></div>
            </div>
        </div>
    </div>

</footer>

<!-- Bootstrap Core JavaScript -->
<script src="<?php echo VIEW_PATH_JS ?>bootstrap.min.js"></script>


</body>

</html>