
<body>
    <nav id="navside" ng-navside="{position: 'left', scroll:'fixed'}">
        <ul id="sidebar-menu" ng-show="user_l">
           
            <li  class="" >
                
                  <a href="#"><img class="logo_menu" src="./assets/img/logo.svg" alt="logo" height="200" width="200"></a></li> 
          
            <li><a href="#/">Home</a></li>
            <li><a href="#/users">Mi Perfil</a></li>
            <li><a href="#/users_games">Mis Partidas</a></li>
                <li><a href="#/games_form">Registro Partidas</a></li>
            <li><a href="#/install">Instalaciones</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
      
      <ul id="sidebar-menu" ng-show="user">
          <li  class="" >
                
                  <a href="#"><img class="logo_menu" src="./assets/img/logo.svg" alt="logo" height="200" width="200"></a></li> 
          
            <li><a href="#/">Home</a></li>
            <li><a href="#/login">Inicio Sesión</a></li>
           
            <li><a href="#/install">Instalaciones</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
        
        
        
        
        
        
        
        
        
      <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/nosfaltaunoNFU/?ref=hl" target="_blank"><i class="fa fa-facebook fa-fw fa-3x" id="icono"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/NFaltaUno?lang=es" target="_blank"><i class="fa fa-twitter fa-fw fa-3x" id="icono"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/b/116107317807288609507/116107317807288609507/about?gmbpt=true&pageId=116107317807288609507&hl=es&_ga=1.45350626.7337554.1451404838" target="_blank"><i class="fa fa-google-plus fa-fw fa-3x" id="icono"></i></a>
                        </li>
                    </ul>
        
         <a href="https://twitter.com/NFaltaUno?lang=es"  target="_blank" class="frase">@NFaltaUno</a>
    </nav>

        